@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");

body {
  font-family: "Petit Formal Script", cursive;
}

div {
 background-color: #10ACAB;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

header img {
  width: 300px;
  height: auto;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: black;
}


a:hover {
  background-color: hotpink;  
  padding: 0.5rem;
  border-radius: 10px;
}

img {
  width: 200px;

}
#index{
    text-align: center;
}

#about{
    
    text-align: center;
}

#about h3 {
    text-align: center;
}
