@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");

body {
  font-family: "Petit Formal Script", cursive;
}

div {
 background-color: #10ACAB;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

header img {
  width: 300px;
  height: auto;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  border:1px solid hot;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: hotpink;
  text-decoration: none;
  color: black;
}
 nav link:hover {
  background-color: hotpink;  
  padding: 0.5rem;
  border-radius: 10px;
}
nav a:hover {
  background-color: #10ACAB;  
  padding: 0.5rem;
  border-radius: 10px;
}

a:hover {
  background-color: hotpink;  
  padding: 0.5rem;
  border-radius: 10px;
}

img {
  width: 200px;

}
#index{
    text-align: center;
}

#about{
    
    text-align: center;
}

#about h3 {
  font-size: 4rem;
    text-align: center;
}
#funfacts {
    text-align: center;
}
#funfacts h3 {
    text-align: center;
}
#funfacts p {
    font-size: 2rem;
    line-height: 1.5;
    max-width: 600px;
    margin: 50px auto;
}
#funfacts img {
    width: 500px;
    height: auto;
}
#studies {
color: hot hotpink;}